  
body{
    
    background-color: burlywood; 
    /* background-image: url(../image1.jpg); */
    
    font-family: 'Mukta', sans-serif;
}

::placeholder{
    font-family: 'Mukta', sans-serif;
    text-align: center;
}

.principal{
    width: 960px;
    height: 600px;
    /* background-color: purple; */
    background-image: url(../eladio.jpg);
    
    
    margin: 0 auto 0;   
}

.content{
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);  
}

.conteudo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    margin-bottom: 500px;
    
    background-color: white;
    width: 540px;
    height: 250px;
    display: inline-block;
    margin: 0;
    padding: 0;
    max-width: 100%;
    overflow: auto;
    
    
}

form{
    display: flex;
}

input{
  position: relative;
  display: inline-block;
  font-size: 20px;
    /* margin-bottom: 500px; */
    
    
 
}
input[type="text"]{
    background: #fff;
    width: 340px;
    height: 50px;
    border-radius: none;
    border-color: black;
    padding: 0 25px;
    border: rosybrown;
    
    
    
    
}
input[type="submit"]{
    position: relative;
    left: -5px;
    border-radius: 0 25px 25px 0;
    border-color: purple;
    width: 150px;
    height: 50px;
    border:none;
    cursor: pointer;
    background: salmon;
    color:red;
    
}

input[type="submit"]:hover{
    background: sienna;
}

/* input[type="checkbox"]{
    position:relative;
   padding: auto;
   margin: 0;
    width: 48px;
    height: 10px;
    border: none;
    text-align: center;
    
     } */

     ul li{
        list-style-type: none; 
        text-align: justify;
        flex-direction: column;
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        
     }

     ul{
         width: 90%;
     }
    

     #apagar{
         
         position: relative;
         border: none;
         text-decoration: none;
         padding: 10px 24px;
         display: inline;
         float: right;
         cursor: pointer;
         
         margin: 0;
         padding: 0;
         width: 70px;   
         
     }

     button:hover{
         background-color: blanchedalmond;
     }
    
   
     
 

    
     @media screen and (max-width:1104px) {
        .principal{
            width: 400px;
            height: 773px;
            background-color: red;
            margin: 0 auto 0;     
        }

        
     
        .conteudo{
            position: absolute;
            top: 70%;
            left: 50%;
            transform: translate(-50%, -50%); 
            margin-bottom: 500px;
            background-color: white;
            width: 399px;
            height: 300px;
            display: inline-block;
            margin: 0;
            padding: 0;
            overflow: auto;
            
        }
        input{
            position: relative;
            display: inline-block;
            font-size: 20px;
              margin-bottom: 500px;
              
           
          }
          input[type="text"]{
              background: #fff;
              /* width: 340px; */
              width: 100px;
              height: 50px;
              display: inline-block;
              border-radius: none;
              border-color: black;
              padding: 0 25px;
              border: rosybrown;
              
              
              
          }
          input[type="submit"]{
              position: relative;
              display: inline-block;
              /* right: -5px; */
              border-radius: 0 25px 25px 0;
              border-color: purple;
              width: 50px;
              height: 50px;
              border:none;
              cursor: pointer;
              background: salmon;
              color:red;
              margin: 0;
              padding-right: 50px;
              
          }
    } 